


@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #ff5050;
    text-align: center;
    font-family: sans-serif;
}

h1{
  text-align: center;
}


table {
  width: 350px;
  table-layout: fixed;

}

td {
  width: 50px;
  height: 150px;

}

.space {
  width: 75px;
  font-size: 40px;
}

.line-right {
  border-right: 4px solid black;
}

.line-bottom {
  border-bottom: 4px solid black;
}

#restartButton {
    margin-top: 30px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #33cccc;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}
